body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
}
